apiVersion: v1
kind: Service
metadata:
  name: kong-proxy
  namespace: kong-system
spec:
  type: LoadBalancer
  selector:
    app: kong
  ports:
    - name: proxy
      port: 80
      targetPort: 8000
      protocol: TCP
    - name: proxy-ssl
      port: 443
      targetPort: 8443
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kong-admin
  namespace: kong-system
spec:
  type: ClusterIP
  selector:
    app: kong
  ports:
    - name: admin
      port: 8001
      targetPort: 8001
      protocol: TCP
